---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if page.tag %}
      <title>{{ page.tag }} | {{ site.title }}</title>
    {% else %}
      <title>{{ page.title}} | {{site.title}}</title>
    {% endif %}

    {% seo %}

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">

    {% css_asset_tag global %}
    - /_assets/css/main.css
    - /_assets/css/theme.css
    {% endcss_asset_tag %}

    {% include tracking-header.html %}
</head>

<body class="{% if page.url == "/" %} homefirstpage {% endif %}">

    <!-- Navbar -->
    <nav class="topnav navbar navbar-light bg-white fixed-top">
      <div class="container">
        <ul class="row mr-auto align-items-center">
          {% include menu-header.html %}
        </ul>
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><strong>{{site.description}}</strong></a>
      </div>
    </nav>

    <!-- Content -->
    <main role="main" class="site-content">
        {{ content }}
    </main>

    <!-- Footer -->
    <footer class="bg-white border-top p-3 text-muted small">
        <div class="container">
        <div class="row align-items-center justify-content-between">
            <div>
                <div class="navbar-brand mr-2 mb-0">
                  <a href="/author/michael-robinson/">
                    <strong>Michael Robinson</strong>
                  </a>
                    &nbsp;
                  <a class="small footer-rss" title="RSS" href="{{site.baseurl}}/feed.xml">
                      {% include svg/rss.svg %}
                  </a>
                </div>
            </div>
        </div>
        </div>
    </footer>

    {% javascript_asset_tag global %}
    - /_assets/js/theme.js
    {% endjavascript_asset_tag %}

    {% include tracking-footer.html %}

</body>

</html>
